<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- <section margin-bottom>
    
    <h1 style="font-size:1.4em" no-margin>Welcome, <br>
      Mr. John Doe</h1>
  </section> -->
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card padding color="primary">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          <h2>Promoter at Tesco Subang</h2>
          <h3>Date: March 1 , 2019</h3>
          <h3>Status: Waiting for Payment</h3>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card padding color="primary">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          <h2>Promoter at Tesco Subang</h2>
          <h3>Date: March 1 , 2019</h3>
          <h3>Status: Waiting for Payment</h3>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card padding color="primary">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          <h2>Promoter at Tesco Subang</h2>
          <h3>Date: March 1 , 2019</h3>
          <h3>Status: Waiting for Payment</h3>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card padding color="primary">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          <h2>Promoter at Tesco Subang</h2>
          <h3>Date: March 1 , 2019</h3>
          <h3>Status: Waiting for Payment</h3>
        </ion-card>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>
